/* Modern and formal styling */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3rem;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 3fr);
    }
  }
  
  .card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .cardTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #1f2937;
  }
  
  .cardDescription {
    color: #4b5563;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .cardLocation {
    color: #374151;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
  
  .cardSkills {
    color: #14357b;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  
  .cardReason {
    color: #10b981;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    font-style: italic;
  }
  
  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .customButton {
    background-color: #3d475a;
    color: #cdcdcd; 
    border: solid #304050;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .customButton:hover {
    background-color: #393f4c; /* Blue-700 */
    transform: translateY(-2px);
  }
  
  .customButton:disabled {
    background-color: #9ca3af; /* Gray-400 */
    cursor: not-allowed;
    transform: none;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    padding: 0.1rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    height: 95%;
    width: 100%;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }