/* styles/UserProfile.module.css */
.container {
    min-height: 100vh;
    background-color: #f3f4f6;
    /* Light gray */
    padding: 2rem;
}

.heading {
    font-size: 2rem;
    /* 3xl */
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1f2937;
    /* Gray-800 */
}

.welcome {
    font-size: 1.25rem;
    /* xl */
    color: #4b5563;
    /* Gray-700 */
    margin-bottom: 2rem;
}

.email {
    font-weight: bold;
    color: #2563eb;
    /* Blue */
}

.recommendedJobsSection {
    margin-top: 2rem;
}

.subheading {
    font-size: 1.5rem;
    /* 2xl */
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1f2937;
    /* Gray-800 */
}

.noJobs {
    font-size: 1rem;
    /* base */
    color: #6b7280;
    /* Gray-500 */
    font-style: italic;
}

.loading {
    font-size: 1.5rem;
    color: #9ca3af;
    /* Gray-400 */
    text-align: center;
    margin-top: 3rem;
}