/* components/UserProfile.module.css */

.container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
}

.formContainer {
    flex: 1;
    max-width: 650px;
    margin-top: 4px;
    padding: 1.5rem;
    background-color: #f9fdfd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
}

.resumeContainer {
    flex: 1;
    max-width: 830px;
    margin-top: 4px;
    background-color: #f9fdfd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.profileTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-right: auto;
}

.profileForm {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profileSection {
    margin-bottom: 1rem;
}

.profileSection label {
    font-size: 0.8rem;
    font-weight: bold;
    color: #143e6d;
    margin-bottom: 0.5rem;
}

.profileSection input {
    font-size: 0.8rem;
    color: #555;
    line-height: 1;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.profileActions {
    margin-top: 1rem;
}

.input:disabled {
    background-color: #f4f7fc;
    cursor: not-allowed;
}